@media (prefers-color-scheme: dark) {
    :root {
        --color-scheme: #333;
        --text-color: #fff;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --color-scheme: #fff;
        --text-color: #000;
    }
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@font-face {
    font-family: 'digital';
    src: url("../assets/DS-DIGI.TTF") format("truetype");
}

@font-face {
    font-family: 'main';
    src: url("../assets/segoeui.ttf") format("truetype");
}
html {
    background-image: url("../assets/windows.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    font-family: 'main', sans-serif;
}

#url {
    width: 45vw;
    height: 10vh;
    font-size: 90%;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
    outline: none;
    padding: 10px 16px;
    flex: 1;
    font-size: 16px;
    background: var(--color-scheme);
    color: var(--text-color);
}
/* @keyframes light-rainbow {
    10% { background-color: rgb(255, 172, 172)}
    20% { background-color: rgb(255, 198, 164)}
    30% { background-color: rgb(255, 255, 173)}
    40% { background-color: rgb(194, 255, 197)}
    50% { background-color: rgb(180, 188, 255)}
    60% { background-color: rgb(218, 173, 255)}
    70% { background-color: rgb(255, 174, 237)}
    80% { background-color: rgb(255, 172, 172)}
    90% { background-color: rgb(255, 172, 172)}
    100% { background-color: rgb(255, 172, 172)}
} */

#goBtn svg {
    width: 24px;
    height: 24px;
}

#goBtn svg g g path {
    fill: var(--text-color);
}
#goBtn {
    height: 10vh;
    width: 10vh;
    border: none;
    background: var(--color-scheme);
    padding: 0 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

form div {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 24px;
    overflow: hidden;
    background: var(--color-scheme);
    /* animation-name: light-rainbow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

#logo-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clock {
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: 'digital';
    font-size: 10vh;
    color: var(--text-color);
    /* text-shadow: 1px 1px 8px #000; */
    z-index: 1000;
    margin: 0;
    padding: 32px 48px;
    background-image: url("../assets/clock.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#settingsBtn {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 32px 48px;
    color: var(--text-color);
}

#settings-flyout {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--color-scheme);
    color: var(--text-color);
    transition: 0.5s;
    padding-top: 60px;
}

#settings-flyout a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: var(--text-color);
    transition: 0.3s;
}

#settings-flyout #closeBtn {
    display: none;
}

#settings-flyout[style]:not([style*="width: 0"]) #closeBtn {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}